.register-container input:not([type=checkbox]){
    width: 100%;
    display:block;
    height: 35px;
    border-radius: 4px;
    border: 1px solid lightgrey;
    font-size: 16px;
    margin-bottom:10px;
   padding-left: 10px;
}

.register-container{
    margin: 0 auto;
    width: 50%;
    
}